# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# Virtual environment
venv/
ENV/
env/
.venv/

# Django
*.sqlite3
db.sqlite3
*.pyc
*.pyo
*.pyd
*.log

# Django static/media
/static/
media/

# VSCode / PyCharm
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
